<div id="modal-overlay"></div>
<div id="instruction-modal" style="top:20px;left:auto;right:320px;margin:0;">
  <div class="header">Added to BlackCart!
    <div class="close" align="right"><a class="close-modal fa fa-times-circle"></a></div>
  </div>
  <div class="content">That was pretty simple, wasn't it? 🎉<br><br>
  Your cart is always synced, so feel free to leave, add items from other retailers, and come back later. 
  <br>
    <br>
    <div style="clear:both;"></div>
    <a class="continue" align="center">Finish Walkthrough</a> </div>
  <div class="arrow-right"></div>
</div>
