<div id="modal-overlay"></div>
<div id="instruction-modal">
  <div class="header">Nice find!
    <div class="close" align="right"><a class="close-modal fa fa-times-circle"></a></div>
  </div>
  <div class="content">Here on this page, you’ll find an ‘Add to BlackCart’ button underneath the regular Add to Cart button.<br>
    <img src="<%- chromeURL('images/sub/wt-bcbutton.jpg') %>"><br>
    <strong>Give it a click to start building your cart.</strong><br>
    <br>
    <a class="continue" align="center">Continue</a> </div>
</div>